;Configuration for Clojure tools.deps

{:paths   ["src"]
 :deps    {manifold/manifold              {:mvn/version "0.4.3"}
           org.apache.kafka/kafka-clients {:mvn/version "3.4.0" :scope "provided"} 
           org.clojure/core.match         {:mvn/version "1.0.1"}}
 :aliases {:dev
           {:extra-paths ["test" "dev"]
            :extra-deps  {pjstadig/humane-test-output                 {:mvn/version "0.11.0"}
                          io.github.embeddedkafka/embedded-kafka_2.13 {:mvn/version "3.4.0.1"}
                          com.github.seancorfield/expectations         {:mvn/version "2.0.165"}
                          com.taoensso/nippy                          {:mvn/version "3.3.0-alpha2"}
                          com.cognitect/transit-clj                   {:mvn/version "1.0.333"}
                          metosin/malli                               {:mvn/version "0.11.0"}
                          io.github.robertluo/fun-map                 {:mvn/version "0.5.114"}}}
           :test
           {:extra-deps {lambdaisland/kaocha {:mvn/version "1.83.1314"}}
            :main-opts  ["-m" "kaocha.runner"]}
           :build
           {:extra-deps {io.github.seancorfield/build-clj {:git/tag "v0.9.2" :git/sha "9c9f078"}}
            :ns-default build}
           :notebook
           {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}}}}
